<html>
<head>
<title>{{ title }}</title>
</head>

<body>
	Subdirectories:
	<ul>
	{% for item in alldirs %}
	<li>
	<a href="/pics/{{ escape(allpath) }}/{{ escape(item)}}">
		{{ escape(item) }}</a>
	</li>
	{% end %}
	{% for item in userdirs %}
	<li>
	<a href="/pics/{{ escape(userdirsath) }}/{{ escape(item)}}">
		{{ escape(item) }}</a>
	</li>
	{% end %}
	</ul>
	Files:
	<ul>
	{% for item in files %}
	<li>
	<a href="/pics/{{ escape(filepath) }}/{{ escape(item)}}">
		{{ escape(item) }}</a>
	</li>
	{% end %}
	</ul>
</body>
</html>

